# Python Environment & Caches
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt

# Project-Specific Data (IoT & Sensors)
# Ignore large generated data streams 
data/raw_sensor_stream.csv

# DO NOT ignore the topology graph - the GNN needs this [cite: 32, 33]
!data/topology_graph.json

# AI Model Weights & Checkpoints
# Ignore heavy trained weights for RBF, GNN, and RL 
*.pth
*.pt
*.pkl
*.h5
*.joblib
.ipynb_checkpoints/

# Operating System & IDEs
# Windows
Thumbs.db
Desktop.ini

# macOS
.DS_Store

# Editors
.vscode/
.idea/
*.swp
